<%= simple_form_for [@company, @expense_types] do |f| %>
  <div class="container d-flex justify-content-center ">
    <div class=" m-2 p-3 border shadow-lg w-50">
      <form class="form ">
          <span class="signup mt-3">Company</span>
            <%= f.input :expense_category, placeholder: 'Categoria' %>
            <div class="text-center">
              <%= link_to "Back", company_expenses_path, class:"btn btn-primary" %>
              <%= f.submit class: 'btn btn-success'%>
            </div>
      </form>
    </div>
  </div>
<% end %>
