<%= simple_form_for [@company, @expense_types], remote: true do |f| %>
  <%= f.input :expense_category, placeholder: 'Categoria' %>
  <div class="text-center">
    <%= f.submit class: 'btn btn-success'%>
  </div>
<% end %>


<%# <script>
  $(document).on('submit', 'form', function(event) {
  event.preventDefault();

});
</script> %>
