<div class="footer">
  <div>
    <%= image_tag "logopandaverdetexto2.png", :size=> "200x100"%>
  </div>
  <div class="footer-center">
    <p>© 2023 GESTIONAME. All rights reserved.</p>
    <%# # %>
  </div>
</div>

  <div class="footer-copyright mx-auto">
  </div>
</div>

<%# <div class="footer-links"> %>
  <%#   <a href="#"><i class="fab fa-github"></i></a> %>
  <%#   <a href="#"><i class="fab fa-instagram"></i></a> %>
  <%#   <a href="#"><i class="fab fa-facebook"></i></a> %>
  <%#   <a href="#"><i class="fab fa-twitter"></i></a> %>
  <%#   <a href="#"><i class="fab fa-linkedin"></i></a> %>
  <%# </div> %>
