
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
    <h1>GESTIONAME <strong>for small but strong businesses!</h1>
    <p>Make your finances easy to manage.</p>
    <a class="btn btn-flat" href="#">Book now</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-5">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
  <h2>Manage your finances</h2>
  <p>With GESTIONAME you can manage your finances in a simple and easy way. You can create your own invoices, manage
  your expenses and see your income.</p>
  <p><a class="btn btn-flat" href="#">View details »</a></p>
</div>
    </div>
    <div class="col-md-4 mt-5" >
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
    <p>With GESTIONAME you can manage your finances in a simple and easy way. You can create your own invoices, manage
your expenses and see your income.</p>
    <p><a class="btn btn-flat" href="#">View details »</a></p>
  </div>
  </div>
</div>
<hr>


    <footer>
      <p>© 2020 GESTIONAME, Inc.</p>
    </footer>
