<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="banercito-the-rock">
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688692928/TheRock_gcajg5.png" alt="flor">
      </div>
    </div>
    <div class="col-md-6 justify-center">
      <div class="banner">
        <h1>Rock Your Finances with GESTIONAME!</h1>
        <h3>Simplify the Art of Financial Management</h3>
        <%# <h4>TRACK YOUR EXPENSES AND INCOMES OF YOUR SMALL BUSINESS</h4> %>
      </div>
    <div>
  </div>
</div>

  <div class="banner2 d-flex justify-content-center">
    <div class="why-choose-text">
      <h1>Why choose GESTIONAME?</h1>
    </div>
    <div class="card-category-banner">
      <h2>Make your small business grow</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688687655/flor2_m2cjl4.png" alt="flor">
    </div>

    <div class="card-category-banner">
      <h2>Make it easy</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698595/easy_veb8hr.png" alt="circle">
    </div>

    <div class="card-category-banner">
      <h2>Track incomes & expenses</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698830/track_incomes_eqqxbz.png" alt="incomes">
    </div>
</div>




















<%# <div class="container"> %>
  <%# <div class="d-flex row"> %>
    <%# <div class="col-7"> %>
      <%# <div style="background-video: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))"> %>
        <%# <video playinline preload="auto" width="100%" height="100%" muted controls> %>
        <%# <source src="<%= asset_path('Small_Business_Owners.mp4') %>
          <%# Your browser does not support the video tag. %>
        <%# </video> %>
      <%# </div> %>
    <%# </div> %>
    <%# <div class="col-5"> %>
      <%# <div class="card-category-home text-left"> %>
        <%# <div class="text-left"> %>
        <%# <h2 class= "mb-5">HOW IT WORKS</h2> %>
          <%# <ul style="list-style-type: none;"> %>
            <%# <li><i class="fa-solid fa-check"></i> Track your incomes and expenses</li> %>
            <%# <li><i class="fa-solid fa-check"></i>  See everything in one place</li> %>
            <%# <li><i class="fa-solid fa-check"></i>  Analize your revenue in graphics</li> %>
          <%# </ul> %>
<%#  %>
       <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
<%#  %>
