
<div class="banner">
    <div class="container mt-5">
    <p>TRACK EXPENSES AND INCOMES IN A SIMPLE WAY</p>
    <h1> Your finances easy to manage</h1>
    <p>Gestioname is perfect for  your small bussiness.</p>
    <div class="text-center pl-5">
    <%= link_to "See Plans", "#", class:"btn btn-info btn-lg" %>
    </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-5">
      <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
  <h2>Manage your finances</h2>
  <p>With GESTIONAME you can manage your finances in a simple and easy way. You can create your own invoices, manage
  your expenses and see your income.</p>
  <p><a class="btn btn-flat" href="#">View details »</a></p>
</div>
    </div>
    <div class="col-md-4 mt-5" >
    <form class="form">
    <p class="title">Sign Up </p>
    <p class="message">Sign up now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Firstname</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Lastname</span>
        </label>
    </div>

    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label>

    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Confirm password</span>
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="#">Sign in</a> </p>
</form>

  </div>
  </div>
  </div>

<div class="container mt-5 justify-content space-between">
    <div class="row">
      <div class="col-4">
        <div class="card-category-home-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>
    </div>

      <div class="col-4">
        <div class="card-category-home-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://
        raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>
    </div>
      <div class="col-4">
        <div class="card-category-home-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
        </div>
      </div>
</div>

    <footer>
      <p>© 2020 GESTIONAME, Inc.</p>
    </footer>
