
<div class="banner">
    <div class="container mt-5">
    <p>A SIMPLE WAY TO TRACK YOUR EXPENSES AND INCOMES IN ONE PLACE</p>
    <h1> "Run your business finances with simplicity and ease" </h1>

      <div class="text-center mt-4 pl-5">
        <%= link_to "START YOUR FREE TRIAL", new_user_registration_path, class:"btn btn-primary", data: { turbo_frame: "signup_modal" } %>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
   <div class="d-flex col-md-6">
    <div class="video-container" style="background-video: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
      <video playinline preload="auto" width="100%" height="100%" muted controls>
        <source src="<%= asset_path('Small_Business_Owners.mp4') %>" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    <div class="col-md-6 d-flex">
      <h1> "How it works" </h1>


    </div>
   </div>
  </div>
</div>






































</div>
