<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="banercito-the-rock">
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688692928/TheRock_gcajg5.png" alt="flor">
      </div>
    </div>
    <div class="col-md-6 justify-center">
      <div class="banner">
        <h1>Rock Your Finances with GESTIONAME!</h1>
        <h3>Simplify the Art of Financial Management</h3>
        <%# <h4>TRACK YOUR EXPENSES AND INCOMES OF YOUR SMALL BUSINESS</h4> %>
      </div>
    <div>
  </div>
</div>

<div class="banner2 d-flex justify-content-center">
  <div class="why-choose-text">
    <h1>Why choose GESTIONAME?</h1>
  <div class="text-center p-3 ml-5">
    <%= link_to "FREE TRIAL", new_user_registration_path, class:"btn btn-success btn-lg", data: { turbo_frame:
    "signup_modal" } %>
  </div>
    </div>
    <div class="card-category-banner">
      <h2>Make your small business grow</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688687655/flor2_m2cjl4.png" alt="flor">
    </div>

    <div class="card-category-banner">
      <h2>Make it easy</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698595/easy_veb8hr.png" alt="circle">
    </div>

    <div class="card-category-banner">
      <h2>Track incomes & expenses</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698830/track_incomes_eqqxbz.png" alt="incomes">
    </div>

</div>

<div class="banner-how-it-works" id="how-it-works">
  <div class="container">
    <div class="margin-right">
     <i class="fa-solid fa-chart-simple fa-lg" style="color: #0b0c0e; margin-left: 400px;"></i>
    </div>
      <h1>How it works</h1>
      <p>Empower Your Business Growth</p>
    <div class="text-center">
      <%= link_to "TRY IT NOW", new_user_registration_path, class:"btn btn-success btn-lg", data: { turbo_frame: "signup_modal" }%>
    </div>
    <div class="text-center mt-5" >
      <h1>You can track your finances at once!</h1>
    </div>
  </div>
<div class="container">
  <div class="row justify-content-center ">
    <div class="col-4 d-flex justify-content-between ">
      <div class="card-category-how-it-works">
        <div class="row">
          <div class="col-7">
            <div class="icono-chico mb-3">
              <i class="fa-solid fa-money-bill"></i>
            </div>
              <h5 class="text-body-tertiary">Total Balance</h5>
            </div>
              <h3>$9.000</h3>
            <div>
            </div>
          <div class="col-5 d-flex justify-content-around">
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-around mb-3">
      <div class="card-category-how-it-works">
        <div class="row">
          <div class="col-7">
            <div class="icono-chico mb-3">
              <i class="fa-solid fa-chart-simple"></i>
            </div>
              <h5 class="text-body-tertiary">Total Expense</h5>
            </div>
              <h3>$11.000</h3>
            <div>
            </div>
          <div class="col-5 d-flex justify-content-around">
            <div id="chart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-around mb-3">
      <div class="card-category-how-it-works">
        <div class="row">
          <div class="col-7">
            <div class="icono-chico mb-3">
              <i class="fa-solid fa-chart-line"></i>
            </div>
              <h5 class="text-body-tertiary">Total Income</h5>
            </div>
              <h3>$20.000</h3>
            <div>
            </div>
          <div class="col-5 d-flex align-items-center justify-content-center">
            <div id="chart2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container d-flex justify-content-center">
  <div class="banner-subscription">
    <div class="row">
      <div class="card-category-subscription">
    <h1>Montly Plan</h1>
      </div>
    </div>
  </div>
</div>
