.banner {
  background-color:white;
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  height: 600px;
  margin-bottom: 30px;
  
}

.banner h1 {
  margin: 0;
  color: #37ab60;
  margin-top:139px;
  padding-top: 2px;
  font-size: 83px;
  font-family: 'Anton', sans-serif;
  word-spacing: 3px;
  letter-spacing: 3px;
  text-align: center;
}

.banner h3{
 text-align: center;
  margin-top: 20px;
}

.banercito-the-rock {
background-color:white;
background-size: cover;
background-position: top;
padding: 150px 0;
height: 400px;
margin-bottom: 30px;
}
img {
  width: 100%;
  padding-bottom: 20px;
}

.banner2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color:white;
  background-size: cover;
  background-position: top;
  padding: 150px 50px;
  margin-top: -26px;

}

.why-choose-text h1 {
  font-family: 'Anton', sans-serif;
  color: black;
  word-spacing: 3px;
  letter-spacing: 3px;
  margin-left: 89px;
  margin-top: -13px;
}

.banner-how-it-works {
    background-color:#e9e9e9;
    padding: 100px 0;
    margin-top: -66px;
    margin-bottom: 300px;
    border-radius: 20px;
  }

  .banner-how-it-works h1 {
    margin: 0;
    color: rgb(15, 14, 14);
    font-family: 'Anton', sans-serif;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 53px;
    font-weight: bold;
    text-align: center;
    margin-top: -33px;
    margin-left: 94px;
  }

  .banner-how-it-works p {
    font-size: 20px;
    color: rgb(97, 94, 94);
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-left: 81px;
    text-align: center;
  }
