// .btn-flat {
  // color: white;
  // padding: 8px 24px;
  // border-radius: 4px;
  // background: #670BFF;
  // transition: background 0.3s ease;
// }
//
// .btn-flat:hover {
  // background: #4D04C4;
  // color: white;
// }

.btn-primary {
  border-color: #74c69d!important;
  color:white!important;
  background-color: #74c69d!important;
  &:hover {
    background-color: #2d6a4f!important;

  }
}
