.card-category-banner {
  background-color: black;
  height: 310px;
  width: 330px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border: 1px solid black;
  p {
    padding-top: 30px ;

  }
  img {
    width: 60%;
  }

  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 21px;
    margin-top: 40px ;
    padding-left: 2px;

  }
}

.card-category-how-it-works {
  background-color: white;
  height: 301px;
  width: 250px;
  margin-top: 77px;
  display: flex;
  justify-content: center;
  color: rgb(105, 243, 37);
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    }
  &:hover {
    filter: brightness(90%);
    transition: filter 0.3s ease;
   }
}


.card-category-how-it-works {
  padding: 56px;
}

.container-cards {
  margin: 0 auto;
  width: 80%

}

.card-category-subscription {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color:#37ab60;
  height: 473px;
  width: 300px;
  margin-left: 54px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

  img {
    width: 200%;
  }

  h2 {
    font-family: 'Anton', sans-serif;
    color: black;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: 20px;


  }
}




















// .icono-chico{
  // width: 50px;
  // height: 50px;
  // background-color: cornflowerblue;
  // border-radius: 90%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
// }
//


// .card-category-home {
  // background-color: white;
  // height: 355px;
  // display: flex;
  // color: rgb(27, 25, 25);
  // font-size: 20px;
  // padding: 20px;
  // line-height: 2;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 20px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }
//
// .card-category-home-1 {
  // background-size: cover;
  // background-position: center;
  // height: 500px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;
  // font-size: 12px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }
//
// .color-check {
  // color: green
// }
//
