.barra-lateral {
  margin-top: 70px; /* Ajusta el valor según sea necesario */
  width: 120px;
  height: 1650px;
  background-color: rgb(74, 74, 74);
  color: white;
}

.text-decoration-none {
  text-decoration: none !important;
  color: white;
}
.text-decoration-none:hover{
  color: #9bbc66;
  transform: scale(1.2 , 1.2);
  transition: 0.3s ease-in-out;
}

.barra{
  margin-top: 70px; /* Ajusta el valor según sea necesario */
  width: 120px;
  background-color: rgb(74, 74, 74);
  color: white;
}
