<table class="table">
  <thead>
    <tr>
    <th scope="col">Type</th>
      <th scope="col">Item_name</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @expense.item_name %></td>
      <td><%= @expense.amount %></td>
      <td><%= @expense.date %></td>
      <td><%= @expense.description %></td>
      <td></td>
    </tr>
  </tbody>
</table>
